In [1]:
import numpy as np
import pandas as pd
import tabula

In [2]:
tables = tabula.read_pdf("REG_NOV_2019.pdf", pages="all", multiple_tables=True)

In [6]:
passenger_data = tables[0].iloc[0:4, 0:2]

In [7]:
passenger_data.set_index('PASSENGERS', inplace=True)

In [8]:
passenger_data

                          Unnamed: 0
PASSENGERS
Domestic                   7,152,431
International              3,658,601
Total Revenue Passengers  10,811,032
Non Revenue Passengers       330,179